/****** General Styles *********/
html {
  font-size: 62.5%; /* for rem */
}

body {
  margin: 0;
  padding: 0;
}

/****** Header Style *********/

/****** Navigation Style *********/
.mainnav {
  background-color: #000;
  overflow: hidden;
  text-align:center;
}

.mainnav li {
  display:inline;
}

.mainnav a {
  color: #FFF;
  border: .01em solid transparent;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;/* unitless */
  padding: .7em 1.12em;
  text-decoration:none;
  transition: background-color 0.5s;
  transition: color 0.5s;
}

.mainnav a:link, .mainnav a:visited {
  text-decoration: none;
}

.mainnav a:active, .mainnav a:hover , .mainnav a.active {
  background-color: #FFF;
  border-color: #0000FF;
  color: #0000FF;
}

.dot {
  cursor: pointer;
  background-color: #bfbfbf;
  border-radius: 50%;
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  transition: background-color 0.5s;
}

.dot:active, .dot:hover {
  background-color: #404040;
}

/****** Slider Style *********/
.slideshow-container {
  margin: auto;
  max-width: 80%;
  position: relative;
}

.mySlides {
 display: none;
}

.mySlides img {
  height: auto;
  width: 100%;
}

.prev, .next {
  color: #FFF;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: -1.3em;
  padding: .8em;
  position: absolute;
  top: 50%;
  transition: 0.5s ease;
  width: auto;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: #FFF;
  opacity: .4;
  color: #000;
}
/****** Footer Style *********/
